

<div class="row mb-3">
    <div class="col-md-6">
        <label>Kategoria</label>
        <select class="form-select" (change)="onTypeChange($event)" >
            <option value="">Wszystkie</option>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>  
    </div>

    <div class="col-md-6">
        <label>Rodzaj</label>
        <select class="form-select"  (change)="onCategoryChange($event)">
            <option value="">Wszystkie</option>
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
    </div>
</div>

<div *ngIf="filteredItems$ | async as items">
    <ul class="list-group list-group-flush mt-3">
        <li *ngFor="let item of items" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <h5 class="mb-1">{{ item.name }}</h5>
                <p class="mb-1">Kwota: {{ item.amount }} zł</p>
                <p class="mb-1">Rodzaj: {{ item.type }}</p>
                <p class="mb-1">Kategoria: {{ item.category }}</p>
                <p class="mb-1">Data: {{ item.date | date }}</p>
                <button (click)="onDelete(item)" class="btn btn-danger btn-sm">Usuń</button>
                <button (click)="onEdit(item)" class="btn btn-primary btn-sm">Edytuj</button>
            </div>
            <!--<button (click)="deleteBudgetItem(item.id)" class="btn btn-danger btn-sm">Usuń</button>-->
        </li>
        
    </ul>

</div>


<ng-template #empty>
    <div class="alert alert-info mt-5" style="width: 500px;" role="alert">
        <h4 class="alert-heading">Brak pozycji w budżecie!</h4>
        <p>Nie dodano jeszcze żadnych pozycji do budżetu. Dodaj pierwszą pozycję, aby rozpocząć zarządzanie swoim budżetem.</p>
        
        
    </div>
</ng-template>
