<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mb-4">
  <div class="form-group mb-2">
    <label>Nazwa</label>
    <input type="text" class="form-control" formControlName="name" required />
  </div>

  <div class="form-group mb-2">
    <label>Kwota</label>
    <input type="number" class="form-control" formControlName="amount" required />
  </div>

  <div class="form-group mb-2">
    <label>Data</label>
    <input type="date" class="form-control" formControlName="date" required />
  </div>

  <div class="form-group mb-2">
    <label>Kategoria</label>
    <select class="form-select"  required>
      <option value="" disabled selected>Wybierz kategorię</option>
      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label>Rodzaj</label>
    <select class="form-select" formControlName="type" required>
      <option value="przychód">Przychód</option>
      <option value="wydatek">Wydatek</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Dodaj pozycję</button>
</form>
